@tailwind base;
@tailwind components;
@tailwind utilities;


.profilepic{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

@media (max-width:750px){
    .profilepic{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
}